name: Spell Check

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  spell-check:
    name: Spell check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Spell Check
        uses: streetsidesoftware/cspell-action@v7
        with:
          files: "**/*.md"
          config: "cspell.json"

